.section {
    &__home {
        height: 100vh;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        position: relative;

        &-floating {
            position: absolute;
            bottom: 160px;
            left: 0;
            right: 0;
        }
    }
}

.img-icon {
    max-height: 80px;

    @media screen and (max-width: 768px) {
        max-width:70px;
    }
}

#second {
    .section__home-floating {
        bottom: 50px;
    }
}